::view-transition-new(aboutContainer) {
  animation-name: aboutContainer;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}
/* ::view-transition-new(aboutChild2) {
  animation-name: aboutChild1;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
} */

@keyframes aboutContainer {
  0% {
    background-color: rgb(33, 54, 83);
    opacity: 0;
    transform: translate(0, 80%) scale(0.5);
  }
  60% {
    transform: translate(0, 30%) scale(0.5);
  }
}
