::view-transition-new(homeContainer) {
  animation-name: homeContainerNew;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

@keyframes homeContainerNew {
  0% {
    overflow: hidden;
    background-color: rgb(33, 54, 83);
    opacity: 0;
    transform: translate(0, 80%) scale(0.5);
  }
  60% {
    transform: translate(0, 30%) scale(0.5);
  }
  100% {
    overflow: hidden;
    border: solid 0.1rem white;
  }
}
