::view-transition-new(skillContainer) {
  animation-name: skillContainer;

  animation-duration: 0.8s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

@keyframes skillContainer {
  0% {
    border:solid .1rem white;
    background-color: rgb(33, 54, 83);
    opacity: 0;
    transform: translate(0, 80%) scale(0.5);
  }
  60% {
    transform: translate(0, 30%) scale(0.5);
  }
}
