.container {
  width: 100%;
  height: 100%;
  border:solid .1rem green;
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;
  > div {
    > div {
      &::-webkit-scrollbar-thumb {
        background-color: rgb(203, 213, 223);
        border-radius: 1rem;
        transition: 1s;
        box-shadow: -0.5vh 0vh 1vh 0vh rgba(93, 111, 114, 0.075);
      }

      &::-webkit-scrollbar {
        width: .3vw;
        height: 0rem;

        transition: 1s;
      }
    }
  }
}

